<div class="dz-message">
  <div class="progress"></div>
</div>

<%= render "images/previewTemplate" %>

<div id="app">
  <%= react_component('DragApp', props={current_user: current_user, images: @images.reverse, tags: @tags}) %>
</div>

