.batchedit {
  display: block;
  width: 30%;
  position: fixed;
  top: 0;
  right: 0px;
  height: 100%;
  padding: 20px 2.5%;
  z-index: 2;
  background: #F1F1F1;
}

.batchedit__close {
  display: block;
  float: right;
  font-size: 2em;
  color: rgba(225,225,225,.7);
  cursor: pointer;
  &:hover {
    color: rgba(225,225,225,1);
  }
}

.batchedit input,
.batchedit select,
.batchedit textarea {
  width: 100%;
}
