.collection-list {
  font-size: 5em;
  display: inline-block;
  font-weight: bold;
  line-height: 1.2em;
  background: image-url('bg_text_collections.svg') rgba(255,255,255,.9);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
}
