.collection-list {
  display: inline-block;
  font-weight: bold;
  line-height: 1.2em;
  height: 100%;
  background: image-url('bg_text_collections.svg') rgba(255,255,255,.9);
  background-repeat: no-repeat;
  background-position: bottom 100px center;
  background-size: 105%;
  padding-top: 10rem;
  z-index: 2;
}

.collection-list ul {
  margin-top: 100px;
}

.collection-active {
  // color: blue;
  // cusor: pointer;
}

.collection-add {
  width: 95%;
  height: 100%;
  padding: 0 2.5%;
  position: fixed;
  display: block;
  background: rgba(11,13,23,.93);
  top: 0;
  left: 0;
  z-index: 3;
}

.collection-add input[type="text"] {
  width: 100%;
  font-size: 1em;
  line-height: 1.5em;
  background: none;
  color: #fff;
  border: none;
  outline: none;
  height: 1.5em;
  top: 50%;
  position: absolute;
  margin-top: -.75em;
  &:focus,
  &:active {
    outline: none;
    border: none;
  }
}

.collection-add input[type="submit"] {
  position: fixed;
  top: -5000px;
  left: -50000px;
}

.collection-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.collection {
  @extend .mb2;
}

.collection a {
  color: #4F5056;
  &:hover {
    color: #191A1C;
  }
}

.collection__info {
  @extend .small;
}

.collection__name {
  font-size: 2rem;
  line-height: 1.5em;
  &:after {
    content: "";
    display: inline-block;
    width: 39px;
    height: 19px;
    background: url('../assets/hand.svg');
    background-repeat: no-repeat;
    margin-left: .5rem;
  }
  &:hover {
    text-decoration: none;
    &:after {
      background-position: -39px 0;
    }
  }
}
