header {
  display: block;
  width: 100%;
  position: fixed;
  z-index: 3;
  @extend .small;
  top: 0;
  height: 2rem;
  line-height: 2rem;
  padding: 0;
  // background: rgba(00,00,00,.03);
  color: rgba(00,00,00,.3);
  font-family: 'GTCinetype-Mono';
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  &:hover {
    // background: rgba(00,00,00,.07);
    color: rgba(00,00,00,.8);
  }
}

.header__container {
  padding: 0 $page-x;
}

header a {
  color: rgba(00,00,00,.6);
  &:hover {
    text-decoration: none;
    color: rgba(00,00,00,.9);
    border-color: rgba(00,00,00,.9);
  }
}

.header__settings {
  cursor: pointer;
}

.header__settings .icon {
  display: inline-block;
  width: 15px;
  height: 31px;
  float: left;
  background-size: 100%;
  background-position: left center;
  background: url('icon_settings2.svg');
  cursor: pointer;
  margin-left: 1rem;
}

.header__settings:hover .icon {
  background-position: -15px 0;
}
.header__settings .text {
  opacity: 0;
  margin-left: .25rem;
}

.header__settings:hover .text {
  opacity: 1;
}


.header-user__tag{
  color: rgba(00,00,00,.9);
}

.header-user {
  float: left;
}

.header-menu {
  position: relative;
  z-index: 5;
  float: right;
}

.header-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header-menu li {
  display: inline-block;
  margin-left: 20px;
}

.header-user__tag:before {
  content: ">";
  padding: 0 10px;
  color: rgba(00,00,00,.3);
}
