header {
  display: block;
  width: 95%;
  position: fixed;
  z-index: 3;
  @extend .small;
  top: 0;
  padding: 10px 2.5% 10px 2.5%;
  background: rgba(00,00,00,.03);
  color: rgba(00,00,00,.3);
  font-family: 'GTCinetype-Mono';
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  &:hover {
    background: rgba(00,00,00,.07);
    color: rgba(00,00,00,.8);
  }
}

header a {
  color: rgba(00,00,00,.6);
  &:hover {
    text-decoration: none;
    color: rgba(00,00,00,.9);
    border-color: rgba(00,00,00,.9);
  }
}

.header-user__tag{
  color: rgba(00,00,00,.9);
}

.header-user {
  float: left;
}

.header-menu {
  position: relative;
  z-index: 5;
  float: right;
}

.header-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header-menu li {
  display: inline-block;
  margin-left: 20px;
}

.header-user__tag:before {
  content: ">";
  padding: 0 10px;
  color: rgba(00,00,00,.3);
}
