header {
  display: block;
  width: 95%;
  position: fixed;
  z-index: 5;
  font-size: 12px;
  top: 0;
  padding: 10px 2.5%;
  opacity: .4;
  &:hover {
    opacity: 1;
  }
}

.header-user {
  float: left;
}

.header-menu {
  position: relative;
  z-index: 5;
  float: right;
  font-size: 12px;
}

.header-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header-menu li {
  display: inline-block;
  margin-left: 20px;
}

.header-user__tag:before {
  content: ">";
  padding: 0 10px;
}
