.image-settings {
  display: block;
  width: 100%;
  overflow: hidden;
  margin-top: 2rem;
  z-index: 2;
  position: fixed;
}

.image-settings__container {
  padding: .5rem $page-x;
  background: rgba(255,255,255,.96);
  overflow: hidden;
}

.image-settings__item {
  margin-right: 2rem;
  float: left;
}

.image-settings__label {
  color: $label-text;
  @extend .small;
  margin-bottom: .5rem;
}

.image-settings-black {
  background: #000;
}

.image-settings-white {
  background: #000;
}

.image-settings__size {
  float: left;
  padding: 20px;
}

.image-settings__bg {
  float: left;
}

.image-settings__bg span {
  display: block;
  float: left;
}

.image-settings__b,
.image-settings__w,
.image-settings__g {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: .5rem;
  cursor: pointer;
  position: relative;
  border: solid 1px rgba(225,225,225,.5);
}

.image-settings__b {
  background: #000;
  // background: rgba(225,225,225,.1);
}

.image-settings__w {
  background: #fff;
}

.image-settings__g {
  background: #f1f1f1;
  margin-right: 0;
}

.image-settings__size {
  padding: 0;
}

.image-settings__size span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: .5rem;
  cursor: pointer;
  position: relative;
  border: solid 1px rgba(00,00,00,.5);
  line-height: 20px;
  text-align: center;
  ::selection { background: transparent; }
  ::-moz-selection { background: transparent; }
}

.image-settings__size span.disabled {
  cursor: default;
  color: rgba(00,00,00,.2);
  border: solid 1px rgba(00,00,00,.2);
}

.image-settings__save,
.image-settings__close {
  float: right;
}

.image-settings__save {
  margin: 10px 1rem 0 0;
}

.image-settings__size input {
  width: 150px;
}

.image-settings__close {
  color: rgba(225,225,225,.5);
  float: right;
  font-size: 40px;
  line-height: 3.3rem;
  cursor: pointer;
  &:hover {
    color: rgba(00,00,00,.9);
  }
}

.image-settings__b .image-settings_close {
  color: rgba(255,255,255,.5);
  &:hover {
    color: rgba(255,255,255,.8);
  }
}

.image-settings__size {
  margin-left: 20px;
}

.slider {
    width: 300px;
    max-width: 500px;
    height: 0px;
    border-bottom: 1px solid $label-text;
    margin-top: 18px;
}
.handle {
    font-size: 0.9em;
    text-align: center;
    background-color: #000;
    color: white;
    cursor: pointer;
}
.handle.active {
    background-color: grey;
}
.bar {
    position: relative;
    background: #ddd;
}
.bar.bar-1 {
    background: #f00;
}
.bar.bar-2 {
    background: #0f0;
}
.slider .bar {
    top: 20px;
    height: 10px;
}
.slider .handle {
    top: 1px;
    width: 14px;
    height: 14px;
    margin-top: -7px;
    border-radius: 999px;
    // line-height: 48px;
}
#horizontal-0,
#horizontal-1, #horizontal-2, #horizontal-3,
#vertical {
    margin: 20px 10px;
}
#horizontal-2 .bar.bar-2 {
    background: #ddd;
}

.image-settings__label-checkbox {
  display: inline-block;
  margin-left: .5rem;
}
