.image-box {
  width: 100%;
  min-height: 100%;
}

.image-box-fixed {
  position: fixed;
  overflow: hidden;
  height: 9999px;
}
.image-box-empty {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  margin-left: -300px;
  display: block;
  margin-top: -.5em;
  text-align: center;
}

#images {
  padding-top: 40px;
}

.image-list {
  padding: 8rem $page-x 2rem $page-x;
  height: 100%;
}

.image-list__container {
  margin: 0 auto;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.image-box-editing .image-list__container {
  width: 70%;
}

@mixin column($cloumncount, $columngap) {
  -moz-column-count: $cloumncount;
  -moz-column-gap: $columngap;
  -webkit-column-count: $cloumncount;
  -webkit-column-gap: $columngap;
  column-count: $cloumncount;
  column-gap: $columngap;
}

.image-list__container.col7 {
  @include column(1, 0);
  width: 100%;
}
.image-list__container.col6 {
  @include column(1, 0);
  width: 60%;
}
.image-list__container.col5 {
  @include column(2, 0);
  width: 100%
}
.image-list__container.col4 {
  @include column(2, 0);
  width: 60%;
}
.image-list__container.col3 {
  @include column(3, 0);
  width: 100%;
}
.image-list__container.col2 {
  @include column(3, 0);
  width: 80%;
}
.image-list__container.col1 {
  @include column(4, 0);
  width: 100%;
}

.image {
  display: inline-block;
  width: 100%;
  text-align: center;
  -webkit-transition: all 10ms ease-in-out;
  -moz-transition: all 10ms ease-in-out;
  -ms-transition: all 10ms ease-in-out;
  -o-transition: all 10ms ease-in-out;
  transition: all 10ms ease-in-out;
}

.image__container {
  padding: 1rem;
}

.image-loaded { opacity: 1; }

.image__container {
  padding: .5rem;
}

.image.active .image__container {
  position: relative;
  display: inline-block;
  &:after {
    content: "";
    display: block;
    width: 140px;
    height: 140px;
    background: image-url('icon_active_tick.svg') no-repeat center #33F1FF;
    background-size: 50%;
    border-radius: 999px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -70px;
    margin-top: -70px;
  }
}

.image img {
  max-width: 100%;
  display: inline-block;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -100px;
}

.image__meta {
  text-align: left;
  @extend .small;
  color: rgba(00,00,00,.2);
  margin-bottom: 2rem;
}

.image__title {
  font-family: 'GTCinetype';
  font-weight: bold;
}

.image__desc {
  font-family: 'GTCinetype';
}
