.image-list {
  -webkit-column-count: 3;
  -webkit-column-gap: 50px;
  column-count: 3;
  column-gap: 50px;
}

.column {
  float: left;
  margin: 0;
}

.size-1of3 { width: 33.333%; }
.size-1of2 { width: 50%; }

.image-list__item {
  display: inline-block;
    margin: 0 0 1em;
    width: 100%;
  text-align: center;
}

.image-list__item img {
  max-width: 100%;
  display: inline-block;
}
