#app
.app_wrapper,
.app_wrapper > div,
.image-box {
  height: 100%;
}

.home-box {
  width: 400px;
  top: 35%;
  left: 50%;
  margin-left: -200px;
  border: none;
  background: rgba(255,255,255,.9) !important;
}

.home-box .form-fix__body,
.home-box .form-fix__footer {
  background: none;
}

.home-box .form-fix__footer {
  border-top: 0;
  .btn {
    width: 100%;
  }
}

.home-box h2 {
  margin-top: 0;
}

.home-box p:last-child {
  margin-bottom: 0;
}
