.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.tags-list {
  display: block;
  width: 90%;
  height: 100%;
  padding: 5%;
  position: fixed;
  overflow-y: scroll;
  z-index: 2;
  left: 0;
  top: 0;
  background: image-url('tags_header.svg') rgba(255,255,255,.8);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
}

.tags-box.active {
  display: block;
}

.tags-list ul {
  list-style-type: none;
  width:100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.tag {
  font-size: 5em;
  display: inline-block;
  width: 100%;
  font-weight: bold;
  line-height: 1.2em;
}

.tag a {
  font-weight: bold;
  color: rgba(00,00,00,.8);
  &:hover {
    color: #000;
    background: #fff;
  }
}
