.tags-box {
  display: none;
  width: 90%;
  height: 100%;
  padding: 5%;
  position: fixed;
  overflow-y: scroll;
  z-index: 2;
  left: 0;
  top: 0;
  background: rgba(255,255,255,.4);
}

.tags-box.active {
  display: block;
}

.tags-list {
  list-style-type: none;
  width:100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.tag {
  font-size: 3em;
  display: inline-block;
  width: 100%;
}
