@import 'vendor/skeleton';

.upload-item-example {
  display: none;
}

.uploadItem {
  @extend .row;
  overflow: hidden;
  margin-bottom: 1em;
  z-index: 1;
  position: relative;
}

.uploadItem__thumbnail {
  background: #ECECEC;
  @extend .cols;
  @extend .four;
  text-align: center;
}

.uploadItem__thumbnail img {
  display: inline-block;
  padding: 4em 0;
  max-width: 100%;
}

.uploadItem__content {
  @extend .cols;
  @extend .eight;
}

.dz-progress {
  width: 100%;
  background: #D8D8D8;
  display: block;
  height: 21px;
  position: relative;
  &:before {
    content: "U P L O A D I N G";
    font-size: 9px;
    width: 100%;
    line-height: 21px;
    position: absolute;
    left: 0;
    text-align: left;
    padding-left: 10px;
  }
}

.dz-upload {
  display: block;
  height: 21px;
  background: #C3C3C3;
}

.dz-success .dz-upload {
  background: #C3C3C3;
}

.dz-success .dz-progress:before {
  content: "U P L O A D  C O M P L E T E";
}

.dz-filename {
  visibility: hidden;
}

.uploadItem-form input[type="text"] {
  background: none;
  border: none;
  border-bottom: solid 1px rgba(00,00,00,.30);
  border-radius: 0;
  padding: 5px 0;
  width: 100%;
  margin: 0;
  color: rgba(00,00,00,.9);
  outline: none;

  &::-webkit-input-placeholder {
     color: rgba(00,00,00,.30);
  }

  &:-moz-placeholder { /* Firefox 18- */
     color: rgba(00,00,00,.30);
  }

  &::-moz-placeholder {  /* Firefox 19+ */
     color: rgba(00,00,00,.30);
  }

  &:-ms-input-placeholder {
     color: rgba(00,00,00,.30);
  }

  &:hover {
    border-bottom: solid 1px rgba(00,00,00,.80);
    &::-webkit-input-placeholder {
       color: rgba(00,00,00,.80);
    }

    &:-moz-placeholder { /* Firefox 18- */
       color: rgba(00,00,00,.80);
    }

    &::-moz-placeholder {  /* Firefox 19+ */
       color: rgba(00,00,00,.80);
    }

    &:-ms-input-placeholder {
       color: rgba(00,00,00,.80);
    }
  }

  &:focus {
    outline: none;
    border: none;
    border-bottom: solid 1px #000;
  }
}

.uploadItem-form .field-action {
  margin-top: 30px;
}

