.upload-item-example {
  display: none;
}

.uploadItem {
  @extend .row !optional;
  overflow: hidden;
  margin-bottom: 1em;
}

.uploadItem__thumbnail {
  background: #3B3B3B;
  @extend .columns !optional;
  @extend .four !optional;
  text-align: center;
}

.uploadItem__thumbnail img {
  display: inline-block;
  padding: 4em 0;
  max-width: 100%;
}

.uploadItem__content {
  @extend .columns !optional;
  @extend .eight !optional;
}

.dz-progress {
  width: 100%;
  background: #3B3B3B;
  display: block;
  height: 21px;
  position: relative;
  &:before {
    content: "U P L O A D I N G";
    font-size: 9px;
    width: 100%;
    line-height: 21px;
    position: absolute;
    left: 0;
    text-align: left;
    padding-left: 10px;
  }
}

.dz-upload {
  display: block;
  height: 21px;
  background: #2E2E2E;
}

.dz-success .dz-upload {
  background: #00B71C;
}

.dz-success .dz-progress:before {
  content: "U P L O A D  C O M P L E T E";
}


