.dropzone {
  border: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: none;
  top: 0;
  // pointer-events: none;
}

.previewsContainer {
  border: none;
  position: fixed;
  height: 100%;
  width: 100%;
  color: #fff;
  overflow-y: scroll;
}

.dragging .dz-message {
  display: block;
  background: rgba(00,00,00,.92);
  border: none;
  position: fixed;
  height: 100%;
  width: 100%;
  color: #fff;
  overflow-y: scroll;
  z-index: 9999;
  &:before {
    content: "";
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: image-url('uploadzone_message.svg') no-repeat top center;
    background-size: 100%;
    z-index: 99999;
  }
}

.dz-message .progress {
  display: block;
  width: 100%;
  height: 0;
  position: fixed;
  background: #0033CC;
  bottom: 0;
  left: 0;
  z-index: 9999;
  -webkit-transition: all 700ms ease-in-out;
  -moz-transition: all 700ms ease-in-out;
  -ms-transition: all 700ms ease-in-out;
  -o-transition: all 700ms ease-in-out;
  transition: all 700ms ease-in-out;
}

.dz-message.pre-hide .progress {
  height: 100%;
}

.dz-message.hide {
  height: 0px;
-webkit-transition: all 500ms ease-in-out;
-moz-transition: all 500ms ease-in-out;
-ms-transition: all 500ms ease-in-out;
-o-transition: all 500ms ease-in-out;
transition: all 500ms ease-in-out;
}


.dropzone.dz-started,
.previewsContainer {
  display: none;
  background: rgba(255,255,255,.92);
  top: 0;
  width: 90%;
  padding: 5% 5% 0 5%;
}

.previewsContainer.active {
  display: block;
  &:before {
    content: "";
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: image-url('uploadzone_message.svg') no-repeat top center;
    background-size: 100%;
    z-index: 0;
  }
}

.dz-header {
  display: block;
  position: relative;
  z-index: 1;
  color: #000;
}

.dz-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: .05;
  background: image-url('uploadzone_message.svg') no-repeat top center;
  background-size: 100%;
  z-index: 0;
}

.dz-message {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(00,00,00,.9);
  font-size: 10em;
  font-weight: bold;
  color: #fff;
  position: fixed;
  top: 0;
  margin: 0;
  color: #fff;
}

.dz-message img {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.dz-drag-hover .dz-message {
  display: block;
}

.dropzone .dz-message {
  display: none;
}

.dropzone.dz-drag-hover .dz-message {
  display: block;
}

.dz-header {
  width: 100%;
  overflow: hidden;
  padding: 1em 0;
}

.dz-header__title {
  font-size: 1.5em;
  float: left;
  line-height: 2em;
}

.dz-header__action {
  float: right;
}

.dz-header__action a {
  display: block;
  font-size: 1.5em;
  background: #000;
  color: #fff;
  padding: 10px;
  line-height: 1em;
  text-decoration: none;
  &:hover {
    background: rgba(225,225,225,1);
    color: #000;
  }
}

