.dropzone {
  border: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: none;
  top: 0;
}

.dropzone.dz-drag-hover,
.dropzone.dz-started {
  background: rgba(00,00,00,.92);
  border: none;
  position: fixed;
  height: 100%;
  width: 100%;
  color: #fff;
}

.dz-header {
  display: none;
}

.dz-started .dz-header {
  display: block;
  position: relative;
  z-index: 1;
}

.dz-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: .05;
  background: image-url('uploadzone_message.svg') no-repeat top center;
  background-size: 100%;
  z-index: 0;
}

.dropzone .dz-message {
  font-size: 10em;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 0;
  margin: 0;
  color: #fff;
}

.dropzone .dz-message img {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.dropzone .dz-message {
  display: none;
}

.dropzone.dz-drag-hover .dz-message {
  display: block;
}

.dz-header {
  width: 100%;
  overflow: hidden;
  padding: 1em 0;
}

.dz-header__title {
  font-size: 1.5em;
  float: left;
  line-height: 2em;
}

.dz-header__action {
  float: right;
}

.dz-header__action a {
  display: block;
  font-size: 1.5em;
  background: rgba(225,225,225,1);
  color: rgba(00,00,00,.6);
  padding: 10px;
  line-height: 1em;
  text-decoration: none;
  &:hover {
    background: rgba(225,225,225,1);
    color: #000;
  }
}

