<header>

  <div id="header-menu" class="header-menu">


  </div>

</header>

<div class="dz-message">
  <%= image_tag 'uploadzone_message.svg' %>
</div>

<%= render "previewTemplate" %>

<div id="app">
  <%= react_component('App', props={current_user: current_user}) %>
</div>



