<h1>New Image</h1>

<!-- <%= render 'form' %> -->

<%= form_tag @image, :html => {:multipart => true}, method: :post, class: "dropzone", id: "media-dropzone" do %>
  <div class="fallback">
    <%= file_field_tag "media", multiple: true%>
  </div>
<% end %>

<%= link_to 'Back', images_path %>
